<!DOCTYPE html>
<!--
  -- This page is used to
  -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="common_header">
    <meta charset="UTF-8">
    <script type="text/javascript" src="webjars/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.css" />
    <link rel="stylesheet" href="css/public.css" />
    <script src="js/public.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var data = checkIsLogin();
            console.log(data);
            if(data == "FALSE"){
                var signin = document.getElementById('signin');
                signin.style.display = 'block';
            }else if(data != "NET_ERR"){
                var exit = document.getElementById('quit');
                var center = document.getElementById('center');
                center.style.display = 'block';
                exit.style.display = 'block';
            }

        })
    </script>
    </th:block>
</head>
</html>