<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>后台管理</title>

    <th:block th:replace="center/public/header :: comman-head"></th:block>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <!-- Main Header -->
    <th:block th:replace="center/public/header :: header"></th:block>

    <th:block th:replace="center/public/leftAsideAdmin :: aside"></th:block>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Admin
                <small>Control your system settings</small>
            </h1>
            <!--
              --   <ol class="breadcrumb">
              --       <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
              --       <li class="active">Here</li>
              --   </ol>
              -->
        </section>
        <!-- Header End -->
        <section class="content container-fluid" id="audits" style="display: block">
            <h1> 所有文章 </h1>
            <table class="table table-bordered table-hover table-condensed" id="data-all">
                <thead>
                <tr>
                    <th>文章ID</th>
                    <th>标题</th>
                    <th>作者</th>
                    <th>最后更新时间</th>
                    <th>文章类型</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog : ${blogSet}">
                    <td th:text="${blog.blogId}"></td>
                    <td><a th:href="@{/blog(blogId=${blog.blogId})}" th:text="${blog.blogTitle}"></a></td>
                    <td><a th:href="@{/list(userName=${blog.author})}" th:text="${blog.author}"></a></td>
                    <td th:text="${#dates.format(blog.updateDate,'yyyy-MM-dd')}"></td>
                    <td th:text="${blog.category}"></td>
                    <td><a th:href="@{/}" th:text="${blog.blogStatus}"></a></td>
                </tr>
                </tbody>
            </table>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="center/public/footer :: foot"></th:block>

    <script type="text/javascript" th:inline="javascript">
        $('#data-all').dataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false,
        });
        $(document).ready(function () {

        })
    </script>
</div>
</body>
</html>