#center{
    display: none;
}
#signin{
    display: none;
}
#quit{
    display: none;
}
body {
    background-color: #e3e4de;
    min-width: 1000px;
}
.offset{
    /*
    background-color: #e3e4de;
    */
}
.main{
    background-color: #fdfdfe;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 4px #888888;
    min-height: 650px;
}
.navbar{
    margin-bottom: 0px;
    overflow: hidden;
}
.container{
    height: 50px;
}
footer{
    margin-top: 15px;
    margin-right: 20px;
    margin-right: 20px;
    text-align: center;
    border-top: 2px #3f729b;
}

.abstract-content {
    width: auto;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}