<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>后台管理</title>

    <th:block th:replace="center/public/header :: comman-head"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <th:block th:replace="center/public/header :: header"></th:block>

    <th:block th:replace="center/public/leftAsideAdmin :: aside"></th:block>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Admin
                <small>Control your system settings</small>
            </h1>
            <!--
              --   <ol class="breadcrumb">
              --       <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
              --       <li class="active">Here</li>
              --   </ol>
              -->
        </section>
        <!-- Header End -->
        <section class="content container-fluid" id="audits" style="display: block">
            <h1> 管理员中心 </h1>

        </section>

        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <th:block th:replace="center/public/footer :: foot"></th:block>

    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>