<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editor</title>
    <th:block th:replace="public/head :: common_header"> </th:block>
    <script src="CKeditor/styles.js" type="text/javascript"></script>
    <script src="CKeditor/ckeditor.js" type="text/javascript"></script>
    <script src="CKeditor/config.js" type="text/javascript"></script>
    <script src="CKeditor/lang/zh-cn.js"></script>
    <script src="js/unit.js" type="text/javascript" charset="utf-8"></script>
    <link href="css/editor.css" rel="stylesheet">
    <script type="text/javascript">
        var get = checkIsLogin();
        console.log(get);
        if(get == "FALSE"){
            alert("该页面需要登录！\n 您还未登录！\n ");
            window.location.href="/signin";
        }
    </script>

</head>

<body>
    <div class="top">
        <th:block th:replace="public/navgate :: navbar"></th:block>
    </div>
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>望知！</strong>此站点每30分钟暂存一次草稿
    </div>
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>望知！</strong>发布内容须通过审核才会公布
    </div>
    <div class="EditorPage">
        <!-- 填充左边 1:10:1 分割页面
        <div class="col-md-1" style="float:left;height: 100%;">

        </div>-->
        <div class="col-md-10 col-md-offset-1 articleEditor">
            <th:block th:replace="public/navgate :: head"></th:block>
            <h1 class="center-block">文章编辑器</h1>
            <div class="form-group Title">
                <!--    title   -->
                <input class="form-control" maxlength="64" type="text" id="txtTitle" name="title" placeholder="输入文章标题（less than 64字）">
            </div>
            <div class="form-group Abstract">
                <!--    abstract       -->
                <textarea class="form-control" rows="5" id="txtAbstract" name="abstract" placeholder="输入简介(less than 256字)" style="resize:none;"></textarea>
            </div>
            <div class="Editor">
                <!--    editor      -->
                <textarea id="editor" name="editor" rows="30" style="resize:none;"></textarea>
            </div>
            <div class="col-md-8 col-md-offset-5 btn-group">
                <button type="button" class="btn-lg btn-primary">发布</button>
                <button type="button" class="btn-lg btn-primary">暂存</button>
            </div>
        </div>
    </div>
    <script>
        CKEDITOR.replace('editor');
    </script>
</body>

</html>