
<!--
  --    由于某些原因，暂且不用
  --
  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>创作</title>

    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
</head>
<body>
<textarea name="content" id="editor">
        &lt;p&gt;This is some sample content.&lt;/p&gt;
    </textarea>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ))
        .catch( error => {
        console.error( error );
        });
</script>
</body>
</html>