<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.js" type="javascript"></script>
    <script type="javascript" src="webjars/jquery/2.2.4/jquery.js"></script>
    <title>Failed</title>
</head>
<body>

<!--/*@thymesVar id="message" type=""*/-->
<span th:text="${message}">Failed</span>
</body>
</html>